@import '../../colors.scss';

$header-height: 150px;

header {
    display: flex;
    height: $header-height;
    min-height: $header-height;
    padding-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    font-weight: 400;
}

header .container {
    display: flex;
}

#site-logo {
    align-self: center;
    height: 100%;
    flex-basis: 150px;
}

nav {
    display: inline-flex;
    margin: auto;
    margin-right: 50px;
}

#internal-links {
    margin-right: 10px;
    line-height: 2;

    .internal-link {
        margin: auto 10px;
    }

    a,
    a:visited {
        text-decoration: none;
        color: #fff;
        font-size: 1.5em;
    }

    a:hover,
    a:active {
        color: $color-accent;
    }
}

#external-links {
    display: inline-flex;

    .social-network-link {
        margin: auto 8px;
    }

    a,
    a:visited {
        color: #fff;
        font-size: 1.75em;
    }

    a:hover,
    a:active {
        color: $color-accent;
    }
}
