@import '../../variables.scss';

#portfolio-display {
  padding-top: 25px;
  text-align: center;
  justify-self: flex-start;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.one-column {
  grid-column: 1 / -1;
  width: 100%;

  img {
    max-width: 100%;
    max-height: 700px;
  }
}

.two-column {
  .piece-wrapper {
    width: 95%;
  }

  img {
    width: 100%;
  }
}

.piece-wrapper {
  position: relative;
  margin: auto;
}

.portfolio-piece {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}

.gallery-size-indicator {
  $dimension: 30px;
  $position: 10px;
  position: absolute;
  top: $position;
  right: $position;
  width: $dimension;
  height: $dimension;
  font-size: 17px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-secondary;
  background: $color-accent;
}

@media (min-width: 900px) {
  #portfolio-display .container {
    width: 700px;
  }
}

@media (max-width: 425px) {
  #portfolio-display {
    gap: 10px;
    column-gap: 0px;
  }

  .one-column,
  .two-column {
    width: 95%;
  }
}
