@import '../../variables.scss';
@import '../SiteHead/SiteHead.scss';

#portfolio-display {
    padding-top: 25px;
    text-align: center;
    background: $color-secondary;
}

.portfolio-row {
    display: flex;
    margin-bottom: 30px;

    .one-column {
        width: 100%;

        .portfolio-piece {
            max-width: 100%;
            max-height: 80vh;
        }
    }

    .two-column {
        width: 50%;

        .portfolio-piece {
            width: 95%;
        }
    }

    .one-column,
    .two-column {
        margin: auto;
    }
}

@media (max-width: 425px) {
    .portfolio-row {
        flex-direction: column;
        margin-bottom: auto;
    }

    .portfolio-row .one-column {
        width: 95%;
    }

    .portfolio-row .two-column {
        width: auto;
    }
}
