@import '../../variables.scss';

#portfolio-display {
  padding-top: 55px;
  text-align: center;
  justify-self: flex-start;
  display: grid;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.one-column {
  grid-column: 1 / -1;
  width: 100%;

  img {
    max-width: 100%;
    max-height: 700px;
  }
}

.two-column {
  .piece-wrapper {
    width: 95%;
  }

  img {
    width: 100%;
  }
}

.piece-wrapper {
  position: relative;
}

.portfolio-piece {
  position: relative;
  display: flex;
  align-items: baseline;

  .center-align {
    margin: auto;
  }

  .left-align {
    margin-left: 0px;
    margin-right: auto;
  }

  .right-align {
    margin-right: 0px;
    margin-left: auto;
  }
}

.gallery-size-indicator {
  $dimension: 30px;
  $position: 10px;
  position: absolute;
  top: $position;
  right: $position;
  width: $dimension;
  height: $dimension;
  font-size: 17px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-secondary;
  background: $color-accent;
}

@media (min-width: 900px) {
  #portfolio-display .container {
    width: 700px;
  }
}

@media (max-width: 425px) {
  #portfolio-display {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .two-column .piece-wrapper {
    width: auto;
  }

  .one-column,
  .two-column {
    width: 95%;
  }

  .portfolio-piece {
    margin: auto;

    .left-align {
      margin: auto;
    }

    .right-align {
      margin: auto;
    }
  }
}
