@import '../../variables.scss';

$section-width: 700px;

.about-me-wrapper {
  width: $section-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  margin-bottom: 50px;

  h1 {
    text-align: center;
    font-size: 18px;
    color: $color-accent;
  }

  p {
    padding: 0.5em;
    text-indent: 1em;
    text-align: justify;
  }

  strong {
    color: $color-accent;
  }
}

#about-me {
  font-size: 12pt;
  display: flex;
  flex-flow: column;
  flex: 1.05;

  h1 {
    text-align: left;
  }

  #personal-photo {
    margin: auto;
    margin-top: 56px;
    margin-bottom: 25px;
    width: 90%;
  }

  > p:nth-child(3) {
    text-indent: 0px;
  }
}

.processes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 2em;

  .process {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: calc(#{$section-width} / 3 - 10%);
    }
  }
}

.call-to-action {
  margin-top: 50px;

  .call-to-action-text {
    margin-bottom: -30px;
  }

  .call-to-action-bubble {
    background-color: $color-secondary;
    border-radius: 40px;
    padding: 30px;

    p {
      color: black;
    }

    a,
    a:visited {
      color: $color-accent;
      text-decoration: none;
      font-weight: bold;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }

  .message_trail {
    fill: $color-secondary;
    height: 60px;
    width: auto;
    margin-left: 40%;
  }

  img {
    width: $section-width;
  }
}

@media (max-width: 1099px) {
  .about-me-wrapper {
    margin-top: 0px;
  }

  #about-me {
    margin: auto;
    width: 90%;
  }
}

@media (max-width: 414px) {
  $mobile-section-width: 95%;

  .about-me-wrapper {
    width: $mobile-section-width;
  }

  .processes {
    grid-template-columns: none;

    .process img {
      display: none;
    }
  }
  .call-to-action img {
    width: $mobile-section-width;
  }

  .attributes {
    width: 95%;
    margin: auto;
  }
}
