@import '../../colors.scss';
@import './PieceNavBar/PieceNavBar.scss';

#piece-display {
    display: flex;
    margin: auto;
    height: calc(100vh - #{$nav-bar-height});
}

#piece-image {
    display: flex;
    padding: 25px;

    img {
        margin: auto;
        height: 95%;
    }
}

#details-display {
    #description {
        padding: 25px;
    }
}

.portrait-image {
    width: 50%;
    height: 100%;
}

.landscape-display {
    flex-direction: column;
}

.landscape-image {
    width: 100v;
    height: 50vh;
}
