@import '../../../variables.scss';

#piece-nav-bar {
    display: flex;
    height: $piece-display-nav-height;
    font-size: 24pt;
    color: $color-accent;

    .home-button,
    #nav-title,
    i {
        margin: auto;
    }

    .home-button {
        margin-left: 10px;
    }

    .fa-arrow-left,
    .fa-arrow-right {
        margin-right: 10px;
    }

    a,
    a:visited {
        color: $color-accent;
    }

    a:hover,
    a:active {
        color: #fff;
    }
}

#nav-title {
    text-align: center;
    flex-grow: 1;
}
