@import '../../../variables.scss';

#piece-nav-bar {
  display: flex;
  height: $piece-display-nav-height;
  padding: 10px;

  .home-button,
  #nav-title,
  i {
    margin: auto;
  }

  #nav-title {
    font-family: $title-font;
  }

  .home-button {
    margin-left: 10px;
  }

  .fa-arrow-left,
  .fa-arrow-right {
    margin-right: 10px;
  }

  button {
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20pt;
    outline: none;
    padding: 0px;
  }

  button,
  button:visited {
    color: $color-accent;
  }

  button:hover,
  button:active {
    color: $color-secondary;
  }
}

#nav-title {
  text-align: center;
  flex-grow: 1;
}

@media (max-width: 900px) {
  #piece-nav-bar .home-button {
    margin: 0;
  }
}
