@import '../../variables.scss';

#contact-wrapper {
  display: flex;
  flex-direction: column;

  > div {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

#contact-form {
  margin: 0px auto;

  h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 0.25em;
  }

  form {
    width: 100%;
  }

  input {
    margin-bottom: 20px;
    height: 50px;
  }

  textarea {
    min-height: 300px;
    height: 300px;
    margin-bottom: 10px;
  }

  input,
  textarea {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    font-size: 25px;
    border-radius: 3px;
    border: 0px;
    resize: none;
    line-height: normal;
    padding: 10px;
  }

  .wrong_input {
    border: 1px #ff0000 solid;
    background: #ffcece;
  }

  #button-wrapper {
    text-align: center;

    button {
      position: relative;
      z-index: 1;
      height: 60px;
      width: 100%;
      font-size: 30px;
      background: $color-accent;
      border-radius: 3px;
      border: #fff;
      color: $color-background;
      padding: 5px 15px;
      text-align: center;
      overflow: hidden;
      transition: color 0.25s ease-in-out;
    }

    button:hover {
      color: $color-accent;
      cursor: pointer;
    }

    button::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      background-color: $color-secondary;
      transform-origin: center;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.25s ease-in-out;
    }

    button:hover::before {
      transform: translate(-50%, -50%) scale(15);
    }
  }
}

#email-label {
  width: 70%;
  margin-top: 10px;

  a {
    margin-left: 10px;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: $color-accent;
  }
}

.attributes {
  margin-top: 2em;
  font-size: 0.75em;

  a {
    margin-left: 0.25em;
  }

  a,
  a:visited {
    color: $color-secondary;
  }

  a:active,
  a:hover {
    color: $color-accent;
  }
}

@media (max-width: 1099px) {
  #contact-wrapper {
    width: auto;
    margin-top: 0px;
  }

  #contact-form {
    max-width: 80%;
  }

  #email-label {
    max-width: 100%;
    text-align: center;
    margin: 20px 0;
  }
}
