@import './../../variables.scss';

.carousel .slide {
  margin: auto;
  background: none;
}

.slide img {
  max-height: $piece-display-height;
  object-fit: contain;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid $color-secondary;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid $color-secondary;
}

.control-dots .selected {
  background: $color-accent !important;
}

.carousel .control-dots {
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px;
  display: flex;
}

.carousel .control-dots .dot {
  opacity: 1;
  box-shadow: none;
}
