@import '../../variables.scss';
@import './PieceNavBar/PieceNavBar.scss';

#piece-display {
    display: flex;
    margin: auto;
    height: $piece-display-height;
}

#piece-image {
    display: flex;
    padding: 0px 25px;

    img {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

#details-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 80%;
    margin: auto;

    #description {
        color: #fff;
        padding: 25px;
        text-align: center;
    }
}

.portrait-image {
    height: 100%;
    width: 50%;
    flex: 1.5 1;
}

.landscape-display {
    flex-direction: column;
}

#supporting-image-collection {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-evenly;

    * {
        height: 100px;
        width: 120px;
        margin: 10px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .active-thumb {
        opacity: 1;
        border: $color-accent solid 3px;
    }

    .inactive-thumb {
        opacity: 0.25;
        border: #bfbfbf solid 3px;
    }
}

.modal {
    position: fixed;
    top: 0px;
    width: 100%;

    .piece-container {
        position: relative;
        z-index: 1;
        background: $color-secondary;
        width: 900px;
        height: 100vh;
        margin: auto;
    }

    #piece-image img {
        align-self: center;
    }

    .modal-background {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        background: rgba($color: #000000, $alpha: 0.75);
        width: 100vw;
        height: 100vh;
    }
}

@media (min-width: 900px) {
    .landscape-image {
        height: 70vh;
    }
}

@media (max-width: 900px) {
    .modal {
        height: 100%;
        overflow-x: hidden;
    }

    .modal .piece-container {
        width: auto;
        overflow-x: hidden;
    }

    #piece-display {
        height: auto;
    }

    #piece-image {
        padding: 5px;
        align-items: flex-start;
    }

    .modal #piece-image {
        flex: 0;
    }

    #supporting-image-collection {
        flex-shrink: 0;
    }

    #details-display #description {
        padding-top: 0px;
    }

    .portrait-display {
        flex-direction: column;
    }

    .landscape-image {
        width: 100%;
        min-height: 40vh;

        img {
            width: 100%;
            margin: 0 !important;
        }
    }

    .portrait-image {
        width: 95%;
        margin: auto;
        display: flex;
        height: 70vh;

        img {
            margin: auto;
        }
    }
}
