@import "./colors.scss";

body, html {
  height: 100%;
  font-family: "Kanit", sans-serif;
  margin: 0;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

body {
  background: $color-background;
  overflow-y: scroll;
}

footer {
  display: flex;
  min-height: 50px;

  p {
    margin: auto;
  }
}

#piece-display {
  #details-display {
    #supporting-image-collection {
      width: 100px;
      height: 100px;
    }
  }
}
