#site-header
    display: inline-flex

    #site-logo 
        height: 200px
        margin-top: 20px
        margin-left: 20px

    .social-network-image
        height: 30px

#portfolio-display
    .portfolio-row
        display: inline-flex

        .one-column
            width: 100%

        .two-column
            width: 50%

        .one-column, .two-column
            .portfolio-piece
                width: 90%