@import './variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100%;
  position: relative;
  color: $color-secondary;
}

html {
  font-family: $body-font;
}

body {
  background: $color-background;
}

.top-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: $accent-bar-height;
  width: 100%;
  background: $color-accent;
}

.scrollbar-jitter-fix {
  margin-left: calc(100vw - 100%);
}

.container {
  margin: auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 250px auto;
  min-height: 100vh;
}

footer {
  display: flex;
  min-height: $footer-height;

  p {
    margin-top: 10px;
  }
}

.no-match {
  flex: 1;
}

.no-match * {
  text-align: center;
}

.no-match h1 {
  font-size: 240px;
  margin: 0;
}

@media (min-width: 1100px) {
  .container {
    width: 1100px;
  }
}

@media (max-width: 1099px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }

  .scrollbar-jitter-fix {
    margin-left: 0px;
  }
}

@media (max-width: 1100px) {
  footer p {
    margin: auto;
  }
}

@media (max-width: 414px) {
  .no-match {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 55vh;
  }

  .no-match h1 {
    font-size: 120px;
    margin-top: auto;
  }

  .no-match p {
    margin-bottom: auto;
  }
}
