// $color-accent: #cd630a;
$color-accent: #ea233b;
$color-secondary: #e1e1e1;
$color-background: #062735;

$accent-bar-height: 10px;
$footer-height: 50px;
$piece-display-nav-height: 80px;
$piece-display-height: calc(
  100vh - #{$footer-height} - #{$accent-bar-height} - #{$piece-display-nav-height}
);

$title-font: 'Archivo Black', sans-serif;
$body-font: 'Roboto', sans-serif;
