$color-accent: #f04;
$color-secondary: #5d5d5d;
$color-background: #fff2d8;
$color-word-bubble: #fff;

$accent-bar-height: 10px;
$footer-height: 50px;
$piece-display-nav-height: 80px;
$piece-display-height: calc(
  100vh - #{$footer-height} - #{$accent-bar-height} - #{$piece-display-nav-height}
);

$title-font: 'Archivo Black', sans-serif;
$body-font: 'Roboto', sans-serif;
