// $color-accent: #cd630a;
$color-accent: #ab1c2e;
$color-background: #062735;

$accent-bar-height: 10px;
$footer-height: 50px;
$piece-display-nav-height: 80px;
$piece-display-height: calc(
  100vh - #{$footer-height} - #{$accent-bar-height} - #{$piece-display-nav-height}
);

$main-font: 'Kanit', sans-serif;
